@tailwind base;
@tailwind components;
@tailwind utilities;

.daterangepicker td.active,
.daterangepicker td.active:hover {
  background-color: #5867DD !important;
  color: #fff !important;
}

.daterangepicker td:hover {
  background-color: #e7e7e7 !important;
}

.daterangepicker {
  font-family: 'Poppins', sans-serif !important;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.1) !important;
}

.daterangepicker th {
  font-weight: 500 !important;
}



.daterangepicker .drp-calendar .calendar-table .month,
.daterangepicker .drp-calendar .calendar-table select {
  font-weight: 500 !important;
}

.daterangepicker .drp-calendar .calendar-table th {
  font-weight: 500 !important;
}